<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @prison.banner_url %>);">
  <div class="container">
    <h1>Welcome to <%= @prison.name %></h1>
    <p>Change your life commit a felony.</p>
    <%= link_to 'Incarcerate', new_prison_criminal_path(@prison), class: 'btn btn-danger' %>
  </div>
</div>
<% josh = @prison.criminals.last %>
<%= cl_image_path josh.photo.key,
      width: 150, height: 150, crop: :thumb, gravity: :face %>
<div class="container mt-3">
  <div class="cards">
    <% @prison.criminals.each do |criminal| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= criminal.photo.attached? ? cl_image_path(criminal.photo.key)  : criminal.image_url %>)">
        <%= criminal.name %>
        <%= link_to criminal_path(criminal), data: { turbo_method: :delete, turbo_confirm: "Release #{criminal.name}?" }, class: 'card-remove-link' do %>
          <i class="fa-solid fa-person-through-window"></i>
        <% end %>
        <%= link_to new_criminal_conviction_path(criminal), class: 'card-convict-link' do %>
          <i class="fa-solid fa-gavel"></i>
        <% end %>
        <div class="card-tags">
          <% criminal.crimes.each do |crime| %>
            <span><%= crime.name %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
